*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background:linear-gradient(135deg,#dbeafe,#f8fafc); */
    background:linear-gradient( 135deg,
        #0f172a,
        #1e293b,
        #334155);
}

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.card{

    width:100%;
    max-width:420px;
    background:#ffffff;
    padding:35px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
    transition:all 0.3s ease;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 35px rgba(0,0,0,0.18);
}

.card h1{
    text-align:center;
    margin-bottom:10px;
    color:#111827;
    cursor:pointer;
    transition:all 0.3s ease;
}

.card h1:hover{
    color:#2563eb;
    transform:scale(1.05);
}

.card p{
    text-align:center;
    color:#6b7280;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:2px solid #e5e7eb;
    border-radius:10px;
    font-size:15px;
    transition:all 0.3s ease;
}

input:hover{
    border-color:#2563eb;
    box-shadow:0 0 10px rgba(37,99,235,0.2);
}

input:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 12px rgba(37,99,235,0.35);
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:all 0.3s ease;
}

button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

button:active{
    transform:scale(0.98);
}

a{
    color:#2563eb;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

a:hover{
    color:#1d4ed8;
    text-decoration:underline;
}

#error{
    text-align:center;
    color:red;
    margin-top:10px;
    font-size:14px;
}

.navbar{
    width:100%;
    position:fixed;
    top:0;
    left:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    background:#2563eb;
    color:white;

    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.navbar h2{
    cursor:pointer;
    transition:0.3s;
}

.navbar h2:hover{
    color:#dbeafe;
}

.navbar button{
    width:120px;
}

.home-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.home-container .card{
    text-align:center;
}

#userEmail{
    margin-top:20px;
    color:#2563eb;
}